@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    z-index: 0;
    background-image: linear-gradient(rgba(0, 12, 19, .6), rgba(0, 12, 19, .6)), url(https://uploads-ssl.webflow.com/6013fff62154adaa4600f932/6038f70ef0141a2f22d50f58_menu__background.jpg);
    background-position: 0 0, 50%;
    background-size: auto, cover;
    color: #333;
    cursor: none;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

a {
    cursor: none;
    text-decoration: underline;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: white;
}


img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.soldier__bfemblem {
    z-index: 1;
    width: 38vh;
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 35.5vh;
}

/*-----------------------------B4 Level------------------------------------ */
.level-wrapper {
    z-index: 3;
    align-items: center;
    display: flex;
    position: absolute;
    top: 3vh;
    bottom: auto;
    left: auto;
    right: 10vh;
}


.bf4__level {
    width: 7vh;
    height: 7vh;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 2vh;
    display: flex;
}

.bf4__level-bar {
    width: 7vh;
    height: 7vh;
    border: 2px solid #ee930e;
    border-style: solid solid none none;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.bf4__level-icon {
    width: 6vh;
    height: 6vh;
    display: block;
}

.bf4__level-flare {
    z-index: 3;
    background-image: url("https://uploads-ssl.webflow.com/6013fff62154adaa4600f932/6038d3f46cf89081fabbb194_level-flare.png");
    background-position: 50%;
    background-size: cover;
    display: none;
    position: absolute;
}

.bf4__level-shadow {
    border-radius: 100%;
    display: none;
    position: absolute;
    box-shadow: 0 0 20px rgba(255, 255, 255, .4);
}

.bf4__logo {
    height: 3.4vh;
}