.side-menu__tabs {
    z-index: 3;
    margin-top: 17vh;
    display: block;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
    overflow: visible;
}

.side-menu__bar {
    z-index: 2;
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, .15);
    margin-left: 8vh;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.side-menu__game {
    background-position: 2vh;
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
}

.side-menu__game {
    width: 6.3vh;
    height: 4.3vh;
    opacity: .5;
    cursor: none;
    background-color: rgba(0, 0, 0, 0);
    border-left: 3px solid rgba(0, 0, 0, 0);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.3vh;
    padding: 0;
    transition: opacity .1s cubic-bezier(.455, .03, .515, .955);
    display: flex;
}

.side-menu__popup {
    z-index: 5;
    opacity: 0;
    background-color: #101010;
    flex: none;
    margin-left: 7vh;
    padding: .3vh 1vh;
    display: none;
}

.side-menu__text {
    color: #fff;
    text-align: center;
    letter-spacing: .07vh;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    font-size: 1.3vh;
    font-weight: 500;
    line-height: 1.5vh;
    text-decoration: none;
}